NODE_ENV=development
APP_NAME=Class Management
APP_DESCRIPTION=Class Management API
API_VERSION=v1
HOST=localhost
PORT=8080
DB_CONNECTION=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=root
DB_PASSWORD=12345
DB_DATABASE=postgres
# Mail
MAIL_HOST = "test.example.com"
MAIL_USER = "test@example.com"
MAIL_PASSWORD = "123456"
MAIL_FROM = ${MAIL_USER}
SECRET_KEY_CONFIRM=secret_key_confirm
# JWT
SECRET_KEY=secret_key